In [29]:
import pandas as pd
import mysql.connector
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import openai
import os
import pandas as pd
import time
from tqdm import tqdm
import logging
logging.basicConfig(filename='1212.log', level=logging.INFO)

In [45]:
df_video = pd.read_csv('../data/video_info2.csv',index_col=0)

In [46]:
df_video.head(2)

,Unnamed: 0,key_id,mid,comment,typeid,play,pic,subtitle,description,copyright,...,meta_mid,is_avoided,attribute,is_charging_arc,vt,enable_vt,vt_display,playback_position,cur_time,length2
0,0,1,536913550.0,1.0,124.0,720.0,http://i0.hdslb.com/bfs/archive/ee57a0661b0f84...,NaN,视频来自youtube，视频上传已获得Rupert团队的邮件许可。\n注：视频字幕是由up付...,2.0,...,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,1.700031e+09,371
1,1,2,536913550.0,2.0,124.0,1138.0,http://i1.hdslb.com/bfs/archive/e03a0286d4dfb6...,NaN,视频来自youtube，视频上传已获得Rupert团队的邮件许可。\n注：视频字幕是由up付...,2.0,...,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,1.700031e+09,654

In [10]:
df_person = pd.read_excel('../data/personal_info.xlsx',index_col=0)

In [16]:
df_person.head(2)

,key_id,mid,uname,sex,birthday,fans,friend,attention,sign,cur_level,...,official_desc,official_type,official_veri_type,official_veri_desc,vip_type,vip_status,archive_count,article_count,follower,like_num
0,1,536913550.0,意识星球住民BeAware,保密,NaN,15792,1,1,Clean & Clear...,4,...,NaN,-1,-1,NaN,0,0,199,0,15792,47477
1,2,405007525.0,Margarita绘画,女,NaN,285645,6,6,水粉笔，水彩笔，毛笔，手工制作，笔坊代销，用心做笔！拼多多搜印象青云ヾﾉ≧∀≦)o 小二不会...,6,...,NaN,-1,-1,NaN,1,0,1683,0,285645,1254539

In [11]:
df_tag = pd.read_csv('../data/tag_info.csv')

In [49]:
df_person.head(1000).to_excel('../data/personal_info_sample.xlsx',index=False)
df_video.head(1000).to_excel('../data/video_info_sample.xlsx',index=False)

In [2]:
openai.api_key = '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'

def get_completion(prompt, model="gpt-3.5-turbo"):
    messages = [{"role": "user", "content": prompt}]
    response = openai.ChatCompletion.create(
        model=model,
        messages=messages,
        temperature=0,
    )
    return response.choices[0].message["content"]

In [42]:
nalist = df_tag.tag.isna()
taglist = []
for i in tqdm(range(len(nalist))):
    if not nalist[i]:
        try:
            prompt = "用一个尽可能精简的tag归纳这些tag(必须只回答一个tag):"+'"'+df_tag.loc[i,'tag']+'"'
            tag = get_completion(prompt)
        except:
            tag = ''
    else:
        tag = ''
    taglist.append(tag)

100%|██████████| 9666/9666 [19:48<00:00,  8.14it/s]

In [43]:
df_tag['tag2'] = taglist

In [44]:
df_tag.to_excel('../data/tag_info2.xlsx',index=False)

In [ ]:
df_video.typeid.astype(int)